.img {
  text-align: center;
}

center {
  margin: 0;
  padding: 0;
}

center h1 {
  color: black;
}

.name {
  font-size: 30px;
  font-weight: bold;
}

.j1 img {
  padding-left: 10px;
}

.img img {
  border: 4px solid red;
  /* 初期状態のボーダー */
  border-radius: 50%;
  margin-top: 15px;
  width: 200px;
  height: 200px;
  animation: rainbow 3s infinite linear;
  /* アニメーション */
}

@keyframes rainbow {
  0% {
    border-color: #e60000
  }

  14% {
    border-color: #f39800
  }

  28% {
    border-color: #fff100
  }

  42% {
    border-color: #009944
  }

  56% {
    border-color: #0068b7
  }

  70% {
    border-color: #1d2088
  }

  85% {
    border-color: #920783
  }

  100% {
    border-color: #e60000
  }
}

.card1 {
  max-width: 650px;
  margin: 0 auto;
}

.skill-container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 25px;
  border: 2px solid #000;
  margin-top: 10px;
}

.skill {
  margin: 20px 0;
}

.skill-bar {
  background-color: #eaeaea;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
  border: 1px solid #000;
}

.skill-progress {
  height: 100%;
}

.html {
  background-color: #000;
  /* HTMLスキルのバー色 */
  width: 48%;
  /* HTMLスキルの幅 */
}

.css {
  background-color: #333;
  /* CSSスキルのバー色 */
  width: 18%;
  /* CSSスキルの幅 */
}
body {
  background: white;
  color: black;
  background-size: cover;
}

.b {
  border-radius: 0.5rem;
  background: white;
  padding: 10 0 10 0;
  width: 100%;
  text-align: center;
  font-size: 25px;
  margin-top: 6px;
}

a {
  display: contents;
}

@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

.loading {
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeOut 1.5s 2.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loading__logo {
  opacity: 0;
  animation: logo_fade 2s 0.5s forwards;
  width: 175px;
}

@keyframes logo_fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  60% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
  }
}
