.img {
  text-align:center;
}
center {
  margin:0;padding:0;
}
b{
  margin:0;font-size:23px;
}
.j1 img{
  padding-left:10px;
}
.j3 {
  opacity: 1;
  animation: fadeOut 0.9s ease-in-out, disappear 1s 0.9s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes disappear {
  to {
    display: none;
  }
}
.img img {
  border: 4px solid red; /* 初期状態のボーダー */
  border-radius: 50%;
  margin-top:15px;
  width:200px;
  height:200px;
  animation: rainbow 3s infinite linear; /* アニメーション */
}

@keyframes rainbow {
    0%{background: #e60000}
    14%{background: #f39800}
    28%{background: #fff100}
    42%{background: #009944}
    56%{background: #0068b7}
    70%{background: #1d2088}
    85%{background: #920783}
    100%{background: #e60000}
}
@media (max-width: 768px) {
  iframe {
    width: 339px;
    height: 191px;
  }
}
