.img {
  text-align:center;
}
center {
  margin:0;padding:0;
}
b{
  margin:0;font-size:23px;
}
.j1 img{
  padding-left:10px;
}
.j3 {
  opacity: 1;
  animation: fadeOut 0.9s ease-in-out, disappear 1s 0.9s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes disappear {
  to {
    display: none;
  }
}
.img img {
  border: 4px solid red; /* 初期状態のボーダー */
  border-radius: 50%;
  width:200px;
  height:200px;
  animation: rainbow 3s infinite linear; /* アニメーション */
}

@keyframes rainbow {
  0% { border-color: red; }
  25% { border-color: orange; }
  50% { border-color: yellow; }
  75% { border-color: green; }
  100% { border-color: blue; }
}
@media (max-width: 768px) {
  iframe {
    width: 339px;
    height: 191px;
  }
}
